footer
    .container
        ul.contacts
            each item in footer
                li
                    a(href=item.href target="_blank") 
                        img(src=item.image alt=item.alt)
        div.logo ARTSOURCE
        div.copyright © Copyright 2020. Все права защищены.
