footer.footer
    .footer-container
        ul.contacts
            each item in footer
                li.contact
                    a(href=item.href target="_blank") 
                        img(src=item.src alt=item.alt)
        div.logo ARTSOURCE
        div.copyright © Copyright 2020. Все права защищены.
