footer
    .container
        ul.contacts
            each item in footer
                a(href=item.href target="_blank")
                    li=item.icon
        div.logo ARTSOURCE
        div.copyright © Copyright 2020. Все права защищены.
