header.header
    .header-container
        a(href='/').logo Artsource
        nav.nav
            ul.nav-items
                li.nav-item
                    button#to-start Главная
                li.nav-item
                    button#to-portfolio Портфолио
                li.nav-item
                    button#to-services Услуги
                li.nav-item
                    button#to-footer Контакты
        .burger-nav-button
            span
            span
            span
    .header-background
