header.header
  .header__container
    a.header__logo(href='/') Artsource
    nav.nav
      ul.nav__items
        li.nav__item
          button#to-start Главная
        li.nav__item
          button#to-portfolio Портфолио
        li.nav__item
          button#to-services Услуги
        li.nav__item
          button#to-footer Контакты
    .burger-nav
      span.burger-nav__item
      span.burger-nav__item
      span.burger-nav__item
  .header__background
