.menu
    .container
        a(href='/') Artsource
        ul
            li
                button(id='to-index') Главная
            li
                button(id='to-portfolio') Портфолио
            li
                button(id='to-services') Услуги
            li
                button(id='to-contact') Контакты