.menu
    a(href='/').logo Artsource
    div.menu-items
        ul
            li
                button#to-start Главная
            li
                button#to-portfolio Портфолио
            li
                button#to-services Услуги
            li
                button#to-contact Контакты
    .burger-menu
        span
        span
        span
