mixin portfolio-item(className, linkToInstagram, src, discription)
  .portfolio-item(class=className)
    a(href=linkToInstagram target='_blank')
        img(src=src)
        .discription-container
            .discription
                p
                    span ______ 
                    <br>
                    span !{discription}
