include section-title-mixin.pug
include portfolio-item-mixin.pug

.portfolio
    +section-title('Портфолио')
    .container
        each item, index in portfolio
            +portfolio-item('item-'+ (index + 1), item.linkToInstagram, item.image, item.discription)
    .view-more
        a(href='https://www.instagram.com/_artsource/' target='_blank') Посмотреть еще