include section-title-mixin.pug
include portfolio-item-mixin.pug

section.portfolio
  +section-title('Портфолио')
  .portfolio__items
    each item, index in portfolio
      +portfolio-item(item.instagram, item.src, item.discription)
  .portfolio__view-more
    a.portfolio__view-more-link(href='https://www.instagram.com/_artsource/' target='_blank') Посмотреть еще
