include section-title-mixin.pug
include portfolio-item-mixin.pug

.portfolio
    +section-title('Портфолио')
    .container
        each item, index in portfolio
            +portfolio-item('item-'+ (index + 1), item.linkToInstagram, item.image, item.discription)