include section-title-mixin.pug
include portfolio-item-mixin.pug

.portfolio
    +section-title('Портфолио')
    .container
        +portfolio-item('item-1', 'https://www.instagram.com/p/B4kVR5Wgb5l/', 'images/portfolio/magazine.png', 'Разработка фирменного каталога продукции')
        +portfolio-item('item-2', 'https://www.instagram.com/p/Bxmrn9ZnHFf/', 'images/portfolio/visit.png', 'Разработка дизайн визитки')
        +portfolio-item('item-3', 'https://www.instagram.com/p/BwrlssnAGz3/', 'images/portfolio/logo-lhc.png', 'Прототипирование и разработка логотипа. Брендинг')
        +portfolio-item('item-4', 'https://www.instagram.com/p/B2jESoIA6a8/', 'images/portfolio/lis.png', 'Разработка раздаточного флаера')
        +portfolio-item('item-5', 'https://www.instagram.com/p/BpM9lAHF0IS/', 'images/portfolio/logo-dodydog.png', 'Разработка логотипа')
        +portfolio-item('item-6', 'javascript:void(0)', 'images/portfolio/logo-owl.png', 'Отрисовка иллюстрации')
        +portfolio-item('item-7', 'https://www.instagram.com/p/BtdbR_ZAgID/', 'images/portfolio/logo-vrm-group.png', 'Разработка логотипа для группы компаний')
        +portfolio-item('item-8', 'https://www.instagram.com/p/B1YTwSogW2G/', 'images/portfolio/notebook.png', 'Дизайн макет блокнота')
