mixin services-item(src, title, discription)
  .services__item
    img.services__item-img(src=src alt=title)
    p.services__item-title !{title}
    .services__item-discription
      each item in discription
        p.services__item-discription-line !{item}
