include section-title-mixin.pug
include services-item-mixin.pug

section.services
    +section-title('Услуги')
    .services-container
        each item, index in services
            +services-item('services-item-'+ (index + 1), item.src, item.title, item.discription)
