include section-title-mixin.pug
include services-item-mixin.pug

section.services
  +section-title('Услуги')
  .services__items
    each item, index in services
      +services-item(item.src, item.title, item.discription)
