.start-screen
    .container
        img(src='images/artsource.png' alt='Artsource')
        ul
            li
                i(class='far fa-check-circle')
            li
                p Разработка
                p фирменного стиля,
                p брендинг
            li
                i(class='far fa-check-circle')
            li
                p Дизайн рекламы,
                p оформление социальных
                p сетей
            li
                i(class='far fa-check-circle')
            li
                p Лендинги,
                p разработка сайтов
                p для бизнеса
            li
                i(class='far fa-check-circle')
    button.scroll-to-content
        span
        span
        