doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title='Artsource'
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' href='css/main.min.css')
  body
    include includes/menu
    section#start-screen
      include includes/start-screen
    section#portfolio
      include includes/portfolio
    section#services
      include includes/services
    section#footer
      include includes/footer
    script(src='js/main.min.js')
