doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title !{title}
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
    style !{bundleCss}
  body
    include includes/header
    include includes/start-screen
    include includes/portfolio
    include includes/services
    include includes/footer
    script !{bundleJs}
