.footer {
  background: var(--footer-bg);

  &__container {
    width: 400px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 500px) {
      width: 300px;
    }

    @media screen and (max-width: 300px) {
      width: 270px;
    }
  }

  &__contacts {
    display: inline-flex;
    list-style: none;
  }

  &__contact {
    margin: 0 15px;

    @media screen and (max-width: 500px) {
      margin: 0 10px;
    }

    @media screen and (max-width: 350px) {
      margin: 0 6px;
    }
  }

  &__contact:hover {
    transform: scale(1.2);
  }

  &__contact-link {
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s ease;
  }

  &__contact-icon {
    height: 30px;
  }

  &__logo {
    padding: 30px 0;
    color: var(--brand-color);
    font-family: 'Ubuntu', serif;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__copyright {
    color: var(--footer-text-color);
    font-family: 'Roboto', serif;
    font-size: 14px;
  }
}
