.menu {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 100;

    & .container {
        margin: 0 auto;
        max-width: 1400px;

        & a {
            float: left;
            margin-left: 20px;
            margin-top: 10px;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: 'Ubuntu', serif;
            font-size: 30px;
            color: #fff;
    
            &:hover {
                color: #fff;
            }
        }

        & ul {
            display: inline-flex;
            float: right;
            margin-top: 15px;
            margin-right: 20px;
            list-style: none;

            & li {
                margin-left: 30px;

                & button {
                    border: none;
                    outline: none;
                    background: transparent;
                    color: #fff;
                    font-size: 22px;
                    font-family: 'Ubuntu', serif;
    
                    &:hover {
                        color: #00ff54;
                    }
                }
            }
        }
    }
}
