@mixin border-radius {
  border-radius: 6px;
}

@mixin transition($property) {
  transition: $property 0.15s ease;
}

.portfolio__item {
  position: relative;
  @include border-radius;
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.15);
  @include transition(box-shadow);

  &:hover {
    box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.25);
  }
}

.portfolio__item-img {
  height: 100%;
  width: 100%;
  @include border-radius;
}

.portfolio__item-popup {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  @include border-radius;
  opacity: 0;
  @include transition(opacity);

  @media screen and (max-width: 768px) {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.portfolio__item-discription {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 6%;
  box-sizing: border-box;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.7) 70%);
  color: var(--portfolio-text-color);
  font-family: 'Roboto', serif;
  font-size: 15px;
  line-height: 1.5;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (max-width: 400px) {
    font-size: 13.5px;
  }
}
