@mixin border-radius {
  border-radius: 6px;
}

@mixin transition($property) {
    transition: $property .15s ease;
}

.portfolio-item {
  position: relative;
  @include border-radius;
  box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.15);
  @include transition(box-shadow);

  &:hover {
    box-shadow: 0 0 40px 7px rgba(0, 0, 0, 0.25);
  }

  & a {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
    }

    & img {
      height: 100%;
      width: 100%;
      @include border-radius;
    }

    & .discription-container {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      @include border-radius;
      opacity: 0;
      @include transition(opacity);

      &:hover {
        opacity: 1;
      }

      & .discription {
        position: absolute;
        bottom: 0;
        background: linear-gradient(
          180deg,
          transparent 0,
          rgba(0, 0, 0, 0.7) 70%
        );
        width: 100%;
        height: 50%;
        @include border-radius;
        color: #fff;

        & p {
          position: absolute;
          float: left;
          font-family: 'Roboto', serif;
          font-size: 15px;
          color: #fff;
          bottom: 0;
          margin-left: 20px;
          margin-bottom: 20px;
          line-height: 1.5;
        }
      }
    }
  }
}
