.services__item {
  text-align: center;
}

.services__item-img {
  width: 33%;
}

.services__item-title {
  margin: 12px 5px;
  font-family: 'Ubuntu', serif;
  font-size: 1.6em;
  color: var(--services-text-color);
}

.services__item-discription {
  color: var(--services-text-color);
}

.services__item-discription-line {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.55;
}
