.services__item {
  text-align: center;
}

.services__item-img {
  width: 120px;
}

.services__item-title {
  margin: 12px 5px 25px 5px;
  font-family: 'Ubuntu', serif;
  font-size: 1.6em;
  color: var(--services-text-color);

  @media (max-width: 300px) {
    max-width: 250px;
  }
}

.services__item-discription {
  color: var(--services-text-color);
}

.services__item-discription-line {
  max-width: 350px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.55;
}
