.start-screen {
  height: 100vh;
  width: 100%;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  & .start-screen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    & .start-screen-logo {
      height: 145px;
      margin-bottom: 75px;
    }

    & .start-screen-items {
      display: inline-flex;
      list-style: none;
      font-size: 25px;
      line-height: 1.4;
      color: var(--start-screen-text-color);
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;

      & .start-screen-item svg {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        fill: var(--brand-color);
        height: 25px;
        width: 25px;
      }
    }

    @media screen and (max-width: 1400px) {
      & .start-screen-logo {
        height: 100px;
        margin-bottom: 50px;
      }

      & .start-screen-items {
        font-size: 18px;

        & .start-screen-item svg {
          margin-top: 25px;
          height: 23px;
          width: 23px;
        }
      }
    }

    @media screen and (max-width: 960px) {
      & .start-screen-logo {
        height: 70px;
        margin-bottom: 40px;
      }

      & .start-screen-items {
        font-size: 15px;

        & .start-screen-item svg {
          margin-top: 20px;
          height: 20px;
          width: 20px;
        }
      }
    }

    @media screen and (max-width: 820px) {
      & .start-screen-logo {
        display: none;
      }

      & .start-screen-items {
        display: block;
        font-size: 20px;

        & .start-screen-item svg {
          margin: 15px 0;
        }
      }
    }
  }
}

.scroll-to-portfolio-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  animation: bounce 2s infinite;

  @keyframes bounce {
    0%, 20%, 50%, 80% { bottom: 30px; }
    40% { bottom: 37px; }
    60% { bottom: 35px; }
  }

  & span {
    display: inline-block;
    height: 2px;
    width: 16px;
    background: var(--start-screen-text-color);
    margin: 0 -3px;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}
