.start-screen {
    height: 100vh;
    width: 100%;
    background-image: url(./../images/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    & .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    & .container img {
        height: 145px;
        margin-bottom: 75px;
    }

    & .container ul {
        display: inline-flex;
        list-style: none;
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }

    & .container ul li i {
        margin: 0 20px;
        margin-top: 23px;
        color: #00ff54;
        font-size: 25px;
    }

    @media screen and (max-width: 1400px) {
        & .container img {
            height: 100px;
            margin-bottom: 50px;
        }

        & .container ul {
            font-size: 18px;
        }

        & .container ul li i {
            margin-top: 22px;
            font-size: 23px;
        }
    }

    @media screen and (max-width: 960px) {
        & .container img {
            height: 70px;
            margin-bottom: 40px;
        }

        & .container ul {
            font-size: 15px;
        }

        & .container ul li i {
            margin-top: 20px;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 820px) {
        & .container img {
            display: none;
        }

        & .container ul {
            display: block;
            font-size: 20px;
        }

        & .container ul li i {
            margin: 15px 0;
        }
    }
}

.scroll-to-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    animation: bounce 2s infinite;

    @keyframes bounce {
        0%, 20%, 50%, 80% { bottom: 30px; }
        40% { bottom: 37px; }      
        60% { bottom: 35px; }
    }

    & span {
        display: inline-block;
        height: 2px;
        width: 16px;
        background: #dfdfdf;
        margin: 0 -3px;

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}